@charset "UTF-8";
@keyframes myMove {
  0% {
    transform: scale(0, 0);
    opacity: 0; }
  50% {
    transform: scale(1.2, 1.2);
    opacity: 0.3; }
  75% {
    transform: scale(0.9, 0.9);
    opacity: 0.7; }
  100% {
    transform: scale(1, 1);
    opacity: 1; } }

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box; }

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #ffffff; }

.zack-menu {
  color: #ffffff;
  background-color: #333; }
  .zack-menu .pure-menu-link {
    color: #fff;
    text-decoration: none; }
    .zack-menu .pure-menu-link:focus, .zack-menu .pure-menu-link:hover, .zack-menu .pure-menu-link.active {
      background-color: #585858; }

.profile {
  display: table;
  margin: auto;
  text-align: center; }
  .profile-pic img {
    border: 3px solid #2c6090;
    border-radius: 75px;
    max-width: 150px;
    max-height: 150px; }
  .profile-name {
    font-size: 200%; }
  .profile-title {
    font-size: 120%;
    color: #585858; }

.about-block-list {
  margin: 10px; }
  .about-block-list-title {
    color: #537492;
    font-size: 120%;
    margin-bottom: 10px;
    border-bottom: 1px solid #537492; }
  .about-block-list ul {
    list-style: none;
    margin: 0; }
    .about-block-list ul li:before {
      content: "•";
      color: #2c6090;
      margin-right: 10px;
      font-weight: 900; }

.info-row {
  margin-right: 20px; }
  .info-row-title {
    cursor: pointer;
    color: #585858;
    border-bottom: 1px solid transparent;
    transition: 1s; }
    .info-row-title:hover {
      color: #02b9b6;
      border-color: #02b9b6; }
    .info-row-title:hover i {
      color: #2c6090; }
    .info-row-title i {
      color: #02b9b6;
      transition: 1s; }
  .info-row-details {
    display: none;
    margin-bottom: 10px; }
    .info-row-details-record {
      margin-left: 20px;
      border-bottom: 1px solid transparent;
      color: #537492; }
      .info-row-details-record.stateLink {
        cursor: pointer;
        transition: 1s;
        color: #02b9b6; }
        .info-row-details-record.stateLink i {
          color: #02b9b6;
          transition: 1s; }
        .info-row-details-record.stateLink:hover {
          color: #2c6090;
          border-color: #2c6090;
          transition: 0.25s; }
        .info-row-details-record.stateLink:hover i {
          transform: rotate(-180deg);
          transition: 0.25s; }
  .info-row.active .info-row-details {
    display: block;
    animation: myMove 0.25s linear; }
  .info-row.active .info-row-title:hover i {
    transform: rotate(-90deg);
    transition: 0.25s; }
  .info-row.inactive .info-row-title:hover i {
    transform: rotate(90deg);
    transition: 0.25s; }

.connect-block-target {
  color: #02b9b6;
  text-align: center;
  margin: 20px auto;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: 1s; }
  .connect-block-target:hover {
    color: #2c6090;
    border-color: #2c6090;
    transition: 0.25s; }
  .connect-block-target-icon {
    font-size: 300%;
    display: block;
    margin-bottom: 10px; }

.nav-link {
  color: #02b9b6;
  text-align: center;
  margin: 10px auto;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: 1s; }
  .nav-link:hover {
    color: #2c6090;
    border-color: #2c6090;
    transition: 0.25s; }
  .nav-link-icon {
    transition: 1s; }
  .nav-link:hover .nav-link-icon {
    transition: 0.25s;
    transform: scale(1.5) rotate(-15deg);
    color: #02b9b6; }

.home-title {
  color: #537492;
  text-align: center;
  font-size: 160%;
  margin-top: 50px;
  border-bottom: 1px solid #537492;
  margin-bottom: 10px; }
