<div class="pure-g">
    <div class="pure-u-1">
        <div class="profile">
            <div class="profile-pic">
                <img src="../img/workZack.jpg">
            </div>
            <div class="profile-name">
                Zack Michels
            </div>
        </div>
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-1">
        <div class="home-title">
            Just for fun:
        </div>
    </div>
    <div class="pure-u-1" ng-repeat="fresh in helloWorld | orderBy:'orderby'">
        <div class="nav-link" ui-sref="{{fresh.state}}" title="{{fresh.description}}" id="{{fresh.state}}" ng-click="init_page_ng()">
            <i class="{{fresh.icon}} nav-link-icon"></i>
            &nbsp;{{fresh.title}}
            <i class="fas fa-wrench under_construction" title="working on it" ng-if="!fresh.mvp"></i>
        </div>
    </div>
</div>