<div class="pure-g" style="height:90vh;">
    <div class="pure-u-1 about-block">
        <div class="about-block">
            <div class="header">
                <i class="fas fa-pepper-hot"></i>&nbsp;hot sauce
            </div>
        </div>
    </div>
    <div class="pure-u-1 pure-u-lg-1-2 about-block">
        <div class="about-block-list">
            <div class="about-block-list-title">
                <i class="fas fa-pause-circle"></i>&nbsp;process
            </div>
            <ul>
                <li>
                    <i class="fas fa-wrench under_construction" title="working on it"></i>
                </li>
                <!-- <li ng-repeat="component in sourdough_loaf.theComponents">
                    {{component.name}} {{component.grams}} grams 
                </li> -->
            </ul>
        </div>
        <div class="about-block-list">
            <div class="about-block-list-title">
                <i class="fas fa-play-circle"></i>&nbsp;examples
            </div>
            <ul>
                <li>
                    <i class="fas fa-wrench under_construction" title="working on it"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="pure-u-1 pure-u-lg-1-2">
        <div class="about-block-list">
            <div class="about-block-list-title">
                <i class="fas fa-stop-circle"></i>&nbsp;equipment
            </div>
            <ul>
                <li ng-repeat="process in hot_sauce.theEquipment">
                    {{process.name}}
                </li>
            </ul>
        </div>
    </div>
</div>