<div class="pure-g">
    <div class="pure-u-1">
        <div class="svgContainer">
            <svg xmlns="http://www.w3.org/2000/svg"
                ng-repeat="svg in svgs"
                ng-if="svg"
                viewBox="{{svg.viewBox}}"
                ng-click="toggleSVG();"
                ng-class="{'active': activeSVG }"
                class="svg {{svg.class}}">
                <path/>
            </svg>    
        </div>
    </div>
    <div class="pure-u-1">
        <div class="slide-thing">
            <i class="fas fa-arrow-up"></i>
        </div>
    </div>
    <div class="pure-u-1">
        <div class="slide-playPause">
            <!-- <i class="fas"
                ng-class="activeAnimation ? 'fa-play-circle':'fa-pause-circle'"
                ng-click="toggleAnimation();"></i> -->
            <i class="fas fa-play-circle"
                ng-show="activeAnimation"
                ng-click="toggleAnimation();"></i>
            <i class="fas fa-pause-circle"
                ng-hide="activeAnimation"
                ng-click="toggleAnimation();"></i>
        </div>
    </div>
</div>