<div class="pure-menu pure-menu-horizontal zack-menu">
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a ui-sref="home"
                ui-sref-active="active"
                class="pure-menu-link">
                zack michels
            </a>
        </li>
        <li class="pure-menu-item">
            <a ui-sref="about"
                ui-sref-active="active"
                class="pure-menu-link">
                <i class="fas fa-cog"></i>&nbsp;&nbsp;about
            </a>
        </li>
        <li class="pure-menu-item">
            <a ui-sref="connect"
                ui-sref-active="active"
                class="pure-menu-link">
                <i class="fas fa-envelope"></i>&nbsp;&nbsp;connect
            </a>
        </li>
    </ul>
</div>