<!-- <ul>
    <li>
        <a ui-sref="home">home</a>
    </li>
    <li>
        <a ui-sref="about">about</a>
    </li>
    <li>
        <a ui-sref="connect">connect</a>
    </li>
</ul> -->

<div class="pure-menu pure-menu-horizontal zack-menu">
    <!-- <a href="#" class="pure-menu-heading pure-menu-link">BRAND</a> -->
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a ui-sref="home" class="pure-menu-link">home</a></li>
        <li class="pure-menu-item"><a ui-sref="about" class="pure-menu-link">about</a></li>
        <li class="pure-menu-item"><a ui-sref="connect" class="pure-menu-link">connect</a></li>
    </ul>
</div>