// npm run scss

$primary: #333;
$primary-active: #585858;
$primary-passive: #ffffff;
$primary-highlight: #2c6090;
$primary-highlight-action: #02b9b6;
$primary-highlight-2: #537492;
$transition-md: .25s;
$transition-lg: 1s;

@keyframes myMove {
    0% {
        transform: scale(0,0);
        opacity: 0;
    }
    50% {
        transform: scale(1.2,1.2);
        opacity: 0.3;
    }
    75% {
        transform: scale(0.9,0.9);
        opacity: 0.7;
    }
    100% {
        transform: scale(1,1);
        opacity: 1;
    }
}

html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: $primary;
    background-color: $primary-passive;
    counter-reset: myList;
}
// pure css add-on's
.zack-menu {
    color: $primary-passive;
    background-color: $primary;
    .pure-menu-link {
        color: #fff;
        text-decoration: none;
        &:focus,
        &:hover,
        &.active {
            // background-color: #585858;
            background-color: $primary-active;
        }
    }
}
// zack classes
.profile {
    display: table;
    margin: auto;
    text-align: center;
    &-pic img {
        border: 3px solid $primary-highlight;
        border-radius: 75px;
        max-width: 150px;
        max-height: 150px;
    }
    &-name {
        font-size: 200%;
    }
    &-title {
        font-size: 120%;
        color: $primary-active;
    }
}
.about-block {
    &-list {
        // margin-bottom: 20px;
        margin: 10px;
        &-title {
            color: $primary-highlight-2;
            font-size: 120%;
            margin-bottom: 10px;
            border-bottom: 1px solid $primary-highlight-2;
        }
        & ul {
            list-style: none;
            margin: 0;
            & li:before {
                content: "•";
                color: $primary-highlight;
                margin-right: 10px;
                font-weight: 900;
            }
        }
        & ol {
            list-style: none;
            margin: 0;
            padding-left: 37px;
            & li:before {
                content: counter(myList);
                counter-increment: myList;
                color: $primary-passive;
                background-color: $primary-highlight-2;
                margin-right: 5px;
                font-weight: bold;
                width: 15px;
                height: 15px;
                border-radius: 10px;
                display: inline-block;
                text-align: center;
                font-size: 80%;
            }
        }
    }
}
.info-row {
    margin-right: 20px;
    &-title {
        cursor: pointer;
        color: $primary-active;
        border-bottom: 1px solid transparent;
        transition: $transition-lg;
        &:hover {
            color: $primary-highlight-action;
            border-color: $primary-highlight-action;
        }
        &:hover i {
            color: $primary-highlight;
        }
        & i {
            color: $primary-highlight-action;
            transition: $transition-lg;
        }
    }
    &-details {
        display: none;
        margin-bottom: 10px;
        &-record {
            margin-left: 20px;
            border-bottom: 1px solid transparent;
            color: $primary-highlight-2;
            &.stateLink {
                cursor: pointer;
                transition: $transition-lg;
                color: $primary-highlight-action;
                & i {
                    color: $primary-highlight-action;
                    transition: $transition-lg;
                }
                &:hover {
                    color: $primary-highlight;
                    border-color: $primary-highlight;
                    transition: $transition-md;
                }
                &:hover i {
                    // font-size: 120%;
                    transform: rotate(-180deg);
                    transition: $transition-md;
                }
            }        
        }
    }
    &.active .info-row-details {
        display: block;
        animation: myMove $transition-md linear;
    }
    &.active .info-row-title {
        &:hover i {
            transform: rotate(-90deg);
            transition: $transition-md;
        }
    }
    &.inactive .info-row-title {
        &:hover i {
            transform: rotate(90deg);
            transition: $transition-md;
        }
    }
}
.connect-block {
    &-target {
        color: $primary-highlight-action;
        text-align: center;
        // display:table;
        margin: 20px auto;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        transition: $transition-lg;
        &:hover {
            color: $primary-highlight;
            border-color: $primary-highlight;
            transition: $transition-md;
        }
        &-icon {
            font-size: 300%;
            display: block;
            margin-bottom: 10px;
        }
    }
}
.nav-link {
    color: $primary-highlight-action;
    text-align: center;
    // display: table;
    margin: 10px auto;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: $transition-lg;
    &:hover {
        color: $primary-highlight;
        border-color: $primary-highlight;
        transition: $transition-md;
    }
    &-icon {
        transition: $transition-lg;
    }
    &:hover .nav-link-icon {
        transition: $transition-md;
        transform: scale(1.5) rotate(-15deg);
        color: $primary-highlight-action;
    }
}
.home-title {
    color: $primary-highlight-2;
    text-align: center;
    font-size: 160%;
    margin-top: 50px;
    border-bottom: 1px solid $primary-highlight-2;
    margin-bottom: 10px;
}