extends layout

block content
  h1= title

  ul
    li
      a(href='/TEST') TEST
    //- li
    //-   a(href='/MarketAnalytics') Market Analytics
    //- li
    //-   a(href='/DataCore') Data-Core

  br

  //- h2= "components for reference"

  //- ul
  //-   li
  //-     a(href='/Components') core components